*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#000;
color:#fff;
overflow:hidden;
}

section{
width:100vw;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
padding:20px;
position:absolute;
top:0;
left:0;
}

#welcome{
background:linear-gradient(180deg,#000,#1a0012);
text-align:center;
z-index:3;
}

#welcome h1{
font-size:38px;
color:#ff7ebd;
text-shadow:0 0 25px #ff4fa3;
}

#welcome h2{
margin-top:20px;
font-size:20px;
font-weight:normal;
max-width:340px;
}

button{
margin-top:35px;
padding:16px 40px;
border:none;
border-radius:50px;
background:#ff4fa3;
color:white;
font-size:18px;
cursor:pointer;
transition:.3s;
}

button:active{
transform:scale(.95);
}

#gallery{
display:none;
background:#000;
}

.photo-box{
text-align:center;
}

#photo{
width:85vw;
max-width:360px;
border-radius:25px;
box-shadow:0 0 30px #ff4fa3;
transition: .4s ease;
}

#caption{
margin-top:20px;
font-size:22px;
}

#counter{
margin-top:12px;
font-size:18px;
color:#ff8dc8;
}

.buttons{
display:flex;
justify-content:center;
gap:20px;
}

#letter{
display:none;
position:fixed;
top:0;
left:0;
width:100vw;
height:100vh;
background:#000;
justify-content:center;
align-items:center;
padding:15px;
z-index:999;
}

.card{
width:100%;
max-width:420px;
height:95vh;
background:#111;
border-radius:20px;
padding:25px;
display:flex;
flex-direction:column;
border:2px solid #ff4fa3;
box-shadow:0 0 30px #ff4fa3;
}

.card h2{
text-align:center;
margin-top:10px;
color:#ff8dc8;
}
.card p{
line-height:1.8;
font-size:17px;
}

.hearts{
position:fixed;
width:100%;
height:100%;
pointer-events:none;
overflow:hidden;
}

.heart{
position:absolute;
color:#ff5ca8;
animation:love 8s linear infinite;
opacity:.8;
}

@keyframes love{

0%{
transform:translateY(100vh) scale(.5);
opacity:0;
}

20%{
opacity:1;
}

100%{
transform:translateY(-120vh) scale(1.4);
opacity:0;
}

}
#envelope{
display:none;
background:#000;
justify-content:center;
align-items:center;
flex-direction:column;
}

.envelope{
font-size:110px;
cursor:pointer;
animation:jump 1.5s infinite;
text-align:center;
}

.envelope p{
font-size:20px;
margin-top:20px;
color:#ff9ecf;
}

@keyframes jump{

0%,100%{
transform:translateY(0);
}

50%{
transform:translateY(-15px);
}

}
.smallText{
margin-top:25px;
font-size:14px;
color:#999;
letter-spacing:1px;
opacity:.8;
}
#letterText{
flex:1;
margin-top:15px;
line-height:1.9;
font-size:18px;
text-align:left;
overflow-y:auto;
padding-right:8px;
}
#letterText::-webkit-scrollbar{
width:4px;
}

#letterText::-webkit-scrollbar-thumb{
background:#ff6cab;
border-radius:20px;
}
#goodbye{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:#000;
justify-content:center;
align-items:center;
padding:20px;
z-index:999;
text-align:center;
}

#goodbye p{
line-height:1.8;
font-size:18px;
text-align:center;
max-width:320px;
margin:15px auto;
}
#goodbye h2{
text-align:center;
margin-bottom:15px;
}

#goodbye .card{
align-items:center;
justify-content:center;
text-align:center;
}